*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#content{
    background-color: #F1DAAD;
    min-height: max-content;
    max-height: max-content;    
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;

}

header{
    position: sticky;
    top: 0;
    background-color: #814827;
    height: 110px;
    min-width: 100%;
    display: flex;
        #nav{
            display: none;
        }
        
        #hamb{
            width: 40px;
            height: 28px;
            order: 1;
        }
        #shop{
            width: 52px;
            height: 39px;
            order: 3;
        }
        #logo {
        width: 195px;
        height: 80px; 
        order: 2;
        }
        justify-content: space-around;
        align-items: center;
}   


main{
    min-height: 100vh;
}

footer{
    display: grid;
    height: 190px;
    background-color: #814827;
    min-width: 375px;
    padding-top: 20px;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: 
    "logoBio socials logoFair"
    "logoBio . logoFair"
    "logoBio contact logoFair"
    "logoBio contact logoFair";
    

        #contactTitle{
            display: none;
        }

        #logo-bio{
            grid-area: logoBio;
            width: 101px;
            height: 101px;
            order: 1; 
        }
        #logo-fair{
            grid-area: logoFair;
            width: 90px;
            height: 127.5px; 
        }
        #contact{
            grid-area: contact;
            text-align: center;
            margin-bottom: 10%;
        }
        #socials{
            grid-area: socials;
                p{
                    text-align: center;
                }
        }
}





@media screen and (min-width: 1000px){
    header{
        position: static;
        justify-content: space-between;
        #logo{
            margin-left: 130px;
        }
        .icon{
            display: none;
        }
        #nav{   
            display: block;
            order: 4;
            .li1{
                margin-right: 50px;
                a:link {
                    text-decoration: none;
                }
                a:hover{
                    color: #868280;
                }
            }
            .li2{
                margin-right: 180px;
                a:link {
                    text-decoration: none;
                }
                a:hover{
                    color: #868280;
                }
            }

                ul{
                    list-style: none;
                    display: flex;
                    font-size: 24px;
                }
        }
        a{color: white;}

    }

    footer{

        grid-template-areas: 
        "logoBio logoFair .  socials . . contactTitle ."
        "logoBio logoFair .  socials . . contact ."
        "logoBio logoFair .  socials . . contact .";
        #contactTitle{
            grid-area: contactTitle;
            display: block;
            text-align: center;
            margin-top: 45%;
        }


    }
}